* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #ff954b;
}

main{
  padding: 50px ;
}

.list{
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.flow{
  width: 300px;
  padding: 10px;
  background-color: #EEEEEE;
  margin-right: 30px;
  position: relative;
}

.flow:nth-child(3){
  margin-right: 0px;
}

.text{
  padding: 3px;
  background-color:  #ff954b;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
}

.img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.title{
  margin-top:15px;
  margin-bottom: 5px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 425px) {
 header{
   width: 100%;
 }

  main{
    width: 100%;
  }

  .list{
    width: 90%;
    display: block;
  }

  .flow{
    width: 100%;
    margin-bottom: 20px;
  }

  .flow:nth-child(3){
    margin-bottom: 0px;
  }

}